<section class="album-covers container clearfix">
     
    <div class="collection-album-container column fourth" ng-repeat="album in collection.albums">
     <!-- <div class="collection-album-container column fourth"> -->
         
         <img src="{{ album.albumArtUrl }}">
         <!-- <img src="/assets/images/album_covers/01.png"/>  -->
         
         <div class="collection-album-info caption">
             <p>
                 <a class="album-name" ui-sref="album">{{ album.title }}</a>
                 <!-- <a class="album-name" ui-sref="album">The Colors</a>  -->
                 <!-- <a class="album-name" href="album.html">The AAA Colors</a>  -->
                 
                 <br/>
                 
                 <a ui-sref="album">{{ album.artist }}</a>
                 <!-- <a ui-sref="album">Pablo Picasso</a> -->
                 <!-- <a href="album.html">Pablo Picasso</a> -->
                 
                 <br/>
                 X songs
                 
                 {{ album.songs.length }} songs
                 
                 <br/>
             </p>
         </div>
     </div>
 </section>